
fastapi
uvicorn


#for template
jinja2

#for static files
aiofiles

#for database   #new
sqlalchemy 
psycopg2        
psycopg2-binary

#for loading environment variables  #new
python-dotenv


#for email validation            #new
pydantic[email] 


#hashing              #new
passlib[bcrypt] 


#for testing       #new
pytest
requests



#hokes
pre-commit


 